/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body,
.box,
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    min-height: 100vh;
    background-color: #fff;
}
.box {
    width: 440px;
    padding: 30px 30px 38px;
    border-radius: 10px;
    flex-direction: column;
}
.box img {
    max-width: 103px;
}
.box h1 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
    color: #333;
}
.box .content {
    width: 100%;
    justify-content: space-between;
}
.box .content.disable {
    opacity: 0.6;
    pointer-events: none;
    user-select: none;
}
.content .column {
    border: 1px solid #d1d1d1;
    padding: 0 10px;
    border-radius: 5px;
    width: calc(100% / 3 - 5px);
}
.column select {
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
    color: #333;
    background-color: #fff;
}
.box button {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #0075ff;
    color: #fff;
    cursor: pointer;
}
